.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Dashboard-form{
  position: absolute;
  top:15%;
  left:34%;
  width: 500px;
  height: auto;
  padding:15px;
  background-color:#050556;
  border-radius:10px;
}

.ant-input
{
  border:none;
  background-color: transparent;
  border-radius: 0px;
  border-bottom: solid 1px #d9d9d9;
  padding-left: 12px;
  color:white;
}
.ant-select-selection{
  background: none;
    border: none;
    border-bottom: solid 1px #d9d9d9;
    border-radius: 0px;
    padding-left: 0px;
}
.ant-input::-moz-placeholder{
  color: #333;
  opacity: 1;
}
.ant-input:focus, ant-input:active{
  outline: none;

}
.list{
  position:relative;
  width:80%;
  height:auto;
  left:10%;
}